### Notebook to extract and format the legs

Mainly to be able to visually inspect the data from MSC and Routescanner

In [1]:
import pandas as pd

### MSC

#### DataFrame with multiple routes

In [2]:
# Read first DataFrame from the Pickle
msc_dict = pd.read_pickle(f"../pickles/msc_daily_v2/connections_2022-10-31.pickle")
msc_df = pd.DataFrame(data=msc_dict)
msc_df.head()

,Key,RouteHeaderId,PortOfLoadId,PortOfLoad,PortOfLoadUnCode,PortOfDischargeId,PortOfDischarge,PortOfDischargeUnCode,TransitTime,TransitTimeHours,CO2FootPrint,EstimatedDepartureTime,EstimatedDepartureTimeFormatted,LoadingService,IsDirectRoute,RoutingType,Routes
0,"{'MaritimeServiceName': 'LLAMA SERVICE', 'Port...",1857438,456,ARICA,CLARI,481,ANTWERP,PECLL,34 days,816,1.6035 Tons,2022-11-03T23:30:00,Thu 3rd Nov 2022,LLAMA SERVICE,False,Transhipment,"[{'CO2FootPrint': '1.6035 Tons', 'CutOffs': {'..."
1,"{'MaritimeServiceName': 'LLAMA SERVICE', 'Port...",1857439,456,ARICA,CLARI,208,ROTTERDAM,PECLL,33 days,792,1.5981 Tons,2022-11-03T23:30:00,Thu 3rd Nov 2022,LLAMA SERVICE,False,Transhipment,"[{'CO2FootPrint': '1.5981 Tons', 'CutOffs': {'..."
2,"{'MaritimeServiceName': 'AZTEC', 'PortOfLoadin...",1856444,451,BUENAVENTURA,COBUN,481,ANTWERP,PAROD,26 days,624,0.7819 Tons,2022-11-06T22:00:00,Sun 6th Nov 2022,AZTEC,False,Transhipment,"[{'CO2FootPrint': '0.7819 Tons', 'CutOffs': {'..."
3,"{'MaritimeServiceName': 'AZTEC', 'PortOfLoadin...",1856445,451,BUENAVENTURA,COBUN,208,ROTTERDAM,PAROD,25 days,600,0.7765 Tons,2022-11-06T22:00:00,Sun 6th Nov 2022,AZTEC,False,Transhipment,"[{'CO2FootPrint': '0.7765 Tons', 'CutOffs': {'..."
4,{'MaritimeServiceName': 'NWC TO SAEC - STRING ...,1791055,512,BUENOS AIRES,ARBUE,481,ANTWERP,BEANR,38 days,912,1.0077 Tons,2022-11-07T13:00:00,Mon 7th Nov 2022,NWC TO SAEC - STRING I,True,Direct,"[{'CO2FootPrint': '1.0077 Tons', 'CutOffs': {'..."

#### DataFrame with single route, multiple trips (options)

In [3]:
msc_legs = msc_df["Routes"][0]
msc_legs_df = pd.DataFrame(msc_legs)
msc_legs_df

,CO2FootPrint,CutOffs,EstimatedDepartureDateFormatted,EstimatedDepartureDate,EstimatedArrivalDateFormatted,EstimatedArrivalDate,VesselName,DepartureVoyageNo,TotalTransitTime,TotalTransitTimeHours,RouteScheduleLegDetails,Origin,Destination
0,1.6035 Tons,{'ContainerYardCutOffDate': 'Mon 31st Oct 2022...,Thu 3rd Nov 2022,2022-11-03T23:30:00,Tue 6th Dec 2022,2022-12-06T16:15:00,MSC BALTIC III,PM243R,33 days,792,"[{'LegSequence': 1, 'SingleLegOnly': False, 'L...",CLARI,BEANR
1,1.6035 Tons,"{'ContainerYardCutOffDate': '', 'ReeferCutOffD...",Fri 11th Nov 2022,2022-11-11T08:00:00,Wed 7th Dec 2022,2022-12-07T11:00:00,MSC BALTIC III,PM244R,26 days,624,"[{'LegSequence': 1, 'SingleLegOnly': False, 'L...",CLARI,BEANR

#### DataFrame with a single trip, multiple legs

In [4]:
msc_single_leg = msc_legs_df["RouteScheduleLegDetails"][0]
msc_single_leg_df = pd.DataFrame(msc_single_leg)
msc_single_leg_df

,LegSequence,SingleLegOnly,LastLeg,DepartureVoyageNo,DeparturePortUNCode,DeparturePortId,DeparturePortName,DepartureEquipmentHandlingFacilityName,EstimatedDepartureTime,EstimatedDepartureTimeFormatted,EstimatedArrivalTime,ArrivalPortPortId,ArrivalPortName,ArrivalEquipmentHandlingFacilityName,EstimatedArrivalTimeFormatted,CO2FootPrint,Vessel,MaritimeServiceName
0,1,False,False,PM243R,CLARI,456.0,ARICA,TERMINAL PUERTO ARICA,2022-11-03T23:30:00,Thu 3rd Nov 2022 22:30,None,NaN,None,None,None,0.6882 Tons,"{'VesselName': 'MSC BALTIC III', 'VesselImoCod...",LLAMA SERVICE
1,2,False,False,NX244R,PECLL,168.0,CALLAO,APM TERMINALS CALLAO,2022-11-09T16:30:00,Wed 9th Nov 2022 15:30,2022-11-05T08:00:00,168.0,CALLAO,APM TERMINALS CALLAO,Sat 5th Nov 2022 07:00,0.9153 Tons,"{'VesselName': 'MSC VITA', 'VesselImoCode': '9...",NWC - USA - SAWC
2,3,False,True,None,None,NaN,None,None,None,None,2022-12-06T16:15:00,481.0,ANTWERP,MPET K1742 DEURGANCK TERMINAL,Tue 6th Dec 2022 15:15,None,"{'VesselName': '', 'VesselImoCode': None, 'Ves...",None

### RouteScanner

#### DataFrame with multiple routes

In [5]:
# Read first DataFrame from Pickle
routescanner_dict = pd.read_pickle(f"../pickles/routescanner_daily_v2/connections_2022-10-31.pickle")
routescanner_df = pd.DataFrame(data=routescanner_dict)
routescanner_df.head()

,hash,origin,destination,totalResults,voyages,requestId
0,e3ff42847940387a44f8f7622b25488a,"{'type': 'locode', 'name': 'Port of Arica', 'l...","{'type': 'locode', 'name': 'Amsterdam', 'locat...",3,"[{'totalTravelTimeInMinutes': 44912, 'totalDis...",f0c2b52b71c4d48b
1,e3ff42847940387a44f8f7622b25488a,"{'type': 'locode', 'name': 'Port of Arica', 'l...","{'type': 'locode', 'name': 'Port of Antwerp', ...",2,"[{'totalTravelTimeInMinutes': 39330, 'totalDis...",d57750671ec99847
2,e3ff42847940387a44f8f7622b25488a,"{'type': 'locode', 'name': 'Port of Arica', 'l...","{'type': 'locode', 'name': 'Moerdijk', 'locati...",2,"[{'totalTravelTimeInMinutes': 39445, 'totalDis...",d4421bf3e153d9d9
3,e3ff42847940387a44f8f7622b25488a,"{'type': 'locode', 'name': 'Port of Arica', 'l...","{'type': 'locode', 'name': 'Port of Rotterdam'...",3,"[{'totalTravelTimeInMinutes': 44745, 'totalDis...",411f4cee0e82791b
4,e3ff42847940387a44f8f7622b25488a,"{'type': 'locode', 'name': 'Port of Arica', 'l...","{'type': 'locode', 'name': 'Port of Vlissingen...",2,"[{'totalTravelTimeInMinutes': 39426, 'totalDis...",19e8beafa119b86a

#### DataFrame with single route, multiple trips (options)

In [6]:
routescanner_route = routescanner_df["voyages"][0]
routescanner_route_df = pd.DataFrame(routescanner_route)
routescanner_route_df

,totalTravelTimeInMinutes,totalDistanceInMeters,totalCo2EmissionsInKg,voyageStart,voyageEnd,transferCo2EmissionsInKg,legs
0,44912,12894138,1150,2022-11-03T22:30:00-03:00,2022-12-05T07:02:14+01:00,"[15, 15]",[{'origin': {'uuid': 'a9d25a4a-a784-417b-8196-...
1,30676,13132075,1860,2022-11-06T13:32:30-05:00,2022-11-28T02:49:28+01:00,"[15, 15]","[{'origin': {'type': 'locode', 'name': 'Port o..."
2,28258,12962474,1885,2022-11-06T13:32:30-05:00,2022-11-26T10:30:48+01:00,"[15, 15]","[{'origin': {'type': 'locode', 'name': 'Port o..."

#### DataFrame with a single trip, multiple legs

In [7]:
routescanner_leg = routescanner_route_df["legs"][0]
routescanner_leg_df = pd.DataFrame(routescanner_leg)
routescanner_leg_df

,origin,destination,departureTime,cutoffTime,arrivalTime,pickupTime,travelTimeInMinutes,distanceInMeters,co2EmissionsInKg,transport,polyLine,stops
0,{'uuid': 'a9d25a4a-a784-417b-8196-2f785767018a...,{'uuid': 'e4a94011-35c3-4614-ba06-a9e1df5fcbf9...,2022-11-03T22:30:00-03:00,"{'time': '2022-11-02T10:30:00-03:00', 'type': ...",2022-11-05T07:00:00-05:00,"{'time': '2022-11-06T19:00:00-05:00', 'type': ...",2070,1099539,130,"{'modality': 'Deepsea', 'roro': False, 'carrie...",`bwoBliflL{XpDi[~C{Ibg@ktInwj@qmmBfewDac~DflsI...,NaN
1,{'uuid': 'e4a94011-35c3-4614-ba06-a9e1df5fcbf9...,{'uuid': '97978b07-c65f-46a8-ab5c-ae3f8befe442...,2022-11-09T15:30:00-05:00,"{'time': '2022-11-08T03:30:00-05:00', 'type': ...",2022-12-05T04:15:00+01:00,"{'time': '2022-12-06T16:15:00+01:00', 'type': ...",36405,11697047,915,"{'modality': 'Deepsea', 'roro': False, 'carrie...",rsohA|nzuMdOdh@GxZer@pkBfe@bjGrzAlxMu_k`@tfhZs...,[{'location': {'uuid': '7da407da-0bd5-4ffd-897...
2,{'uuid': '97978b07-c65f-46a8-ab5c-ae3f8befe442...,"{'type': 'locode', 'name': 'Amsterdam', 'locat...",2022-12-05T04:15:00+01:00,"{'time': '2022-12-05T04:15:00+01:00', 'type': ...",2022-12-05T07:02:14+01:00,"{'time': '2022-12-05T07:02:14+01:00', 'type': ...",167,97552,75,{'modality': 'Unknown'},NaN,NaN