### A brief helper notebook to parse UN_LOCODEs to full names

In [2]:
import pandas as pd

In [3]:
# Create DataFrames from UN-LOCODE CSVs
country_df = pd.read_csv("../utils/country-codes.csv")
country_df.head(3)

  CountryCode           CountryName
0          AD               Andorra
1          AE  United Arab Emirates
2          AF           Afghanistan

In [4]:
# Create DataFrames from UN-LOCODE CSVs
country_df = pd.read_csv("../utils/country-codes.csv")
code_df = pd.read_csv("../utils/code-list.csv")
code_df.drop("Change", inplace=True, axis='columns')
code_df.insert(2, "Code", code_df["Country"] + code_df["Location"])
code_df.head(3)

,Country,Location,Code,Name,NameWoDiacritics,Subdivision,Status,Function,Date,IATA,Coordinates,Remarks
0,AD,ALV,ADALV,Andorra la Vella,Andorra la Vella,NaN,AI,--34-6--,601.0,NaN,4230N 00131E,NaN
1,AD,CAN,ADCAN,Canillo,Canillo,NaN,RL,--3-----,307.0,NaN,4234N 00135E,NaN
2,AD,ENC,ADENC,Encamp,Encamp,NaN,RL,--3-----,307.0,NaN,4232N 00134E,NaN