### Combine all the dataframes

In [1]:
import pandas as pd

In [2]:
# Read MSC and Routscanner pickles
msc = pd.read_pickle('../pickles/msc_v2_connections_combined.pickle')
routescanner = pd.read_pickle('../pickles/routescanner_v2_connections_combined.pickle')

# Add the source to each dataframe at the beginning of the dataframe
msc.insert(0, 'ScrapingSite', 'MSC')
routescanner.insert(0, 'ScrapingSite', 'Routescanner')

In [3]:
# Combine the dataframes. The column names are the same, some may have additional columns. Each row is a connection that was found by either MSC or Routescanner and should be in the combined dataframe.
df = pd.concat([msc, routescanner], axis="index", join="outer")
df.sort_values(by=['ScrapingDate', 'Origin', 'Destination'], inplace=True)
df.head(10)

,ScrapingSite,ScrapingDate,Origin,Destination,MaritimeServiceName,OriginName,DestinationName,RouteHeaderId,PortOfLoadId,PortOfDischargeId,...,VesselName,DepartureVoyageNo,EstimatedTotalTransitTimeDays,EstimatedTotalTransitTimeHours,Legs,destination_location,origin_location,totalResults,TotalDistanceMeters,totalCo2EmissionsInKg
22,MSC,2022-10-31,ARBUE,BEANR,NWC TO SAEC - STRING I,BUENOS AIRES,ANTWERP,1791055,512,481,...,CZECH,NA244R,32 days,768.0,"[{'LegSequence': 1, 'SingleLegOnly': True, 'La...",NaN,NaN,<NA>,<NA>,<NA>
23,MSC,2022-10-31,ARBUE,BEANR,NWC TO SAEC - STRING I,BUENOS AIRES,ANTWERP,1791055,512,481,...,MSC ATHENS,NA245R,38 days,912.0,"[{'LegSequence': 1, 'SingleLegOnly': True, 'La...",NaN,NaN,<NA>,<NA>,<NA>
24,MSC,2022-10-31,ARBUE,BEANR,NWC TO SAEC - STRING I,BUENOS AIRES,ANTWERP,1791055,512,481,...,MSC PALAK,NA246R,38 days,912.0,"[{'LegSequence': 1, 'SingleLegOnly': True, 'La...",NaN,NaN,<NA>,<NA>,<NA>
25,MSC,2022-10-31,ARBUE,BEANR,NWC TO SAEC - STRING I,BUENOS AIRES,ANTWERP,1791055,512,481,...,HUNGARY,NA247R,38 days,912.0,"[{'LegSequence': 1, 'SingleLegOnly': True, 'La...",NaN,NaN,<NA>,<NA>,<NA>
26,MSC,2022-10-31,ARBUE,BEANR,NWC TO SAEC - STRING I,BUENOS AIRES,ANTWERP,1791055,512,481,...,MSC CATERINA,NA248R,38 days,912.0,"[{'LegSequence': 1, 'SingleLegOnly': True, 'La...",NaN,NaN,<NA>,<NA>,<NA>
27,MSC,2022-10-31,ARBUE,BEANR,NWC TO SAEC - STRING I,BUENOS AIRES,ANTWERP,1791055,512,481,...,UASC ZAMZAM,NA250R,38 days,912.0,"[{'LegSequence': 1, 'SingleLegOnly': True, 'La...",NaN,NaN,<NA>,<NA>,<NA>
28,MSC,2022-10-31,ARBUE,BEANR,NWC TO SAEC - STRING I,BUENOS AIRES,ANTWERP,1791055,512,481,...,MSC MICHELA,NA251R,38 days,912.0,"[{'LegSequence': 1, 'SingleLegOnly': True, 'La...",NaN,NaN,<NA>,<NA>,<NA>
131,Routescanner,2022-10-31,ARBUE,BEANR,<NA>,Port of Buenos Aires,Port of Antwerp,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,969.0,[{'origin': {'uuid': '08324382-ad10-41c2-86c8-...,"{'lat': 51.249596, 'lng': 4.407942}","{'lat': -34.584968, 'lng': -58.360374}",15,12289550,1080
132,Routescanner,2022-10-31,ARBUE,BEANR,<NA>,Port of Buenos Aires,Port of Antwerp,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,869.45,"[{'origin': {'type': 'locode', 'name': 'Port o...","{'lat': 51.249596, 'lng': 4.407942}","{'lat': -34.584968, 'lng': -58.360374}",15,11873645,1120
133,Routescanner,2022-10-31,ARBUE,BEANR,<NA>,Port of Buenos Aires,Port of Antwerp,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,784.0,[{'origin': {'uuid': '08324382-ad10-41c2-86c8-...,"{'lat': 51.249596, 'lng': 4.407942}","{'lat': -34.584968, 'lng': -58.360374}",15,13991292,1130

In [4]:
# Save the combined dataframe to a pickle file.
filename = "all_connections_combined"
df.to_pickle(f"../pickles/{filename}.pickle")
df.to_csv(f"../data/{filename}.csv")

In [5]:
pd.read_pickle('../pickles/all_connections_combined.pickle').head(3)

,ScrapingSite,ScrapingDate,Origin,Destination,MaritimeServiceName,OriginName,DestinationName,RouteHeaderId,PortOfLoadId,PortOfDischargeId,...,VesselName,DepartureVoyageNo,EstimatedTotalTransitTimeDays,EstimatedTotalTransitTimeHours,Legs,destination_location,origin_location,totalResults,TotalDistanceMeters,totalCo2EmissionsInKg
22,MSC,2022-10-31,ARBUE,BEANR,NWC TO SAEC - STRING I,BUENOS AIRES,ANTWERP,1791055,512,481,...,CZECH,NA244R,32 days,768.0,"[{'LegSequence': 1, 'SingleLegOnly': True, 'La...",NaN,NaN,<NA>,<NA>,<NA>
23,MSC,2022-10-31,ARBUE,BEANR,NWC TO SAEC - STRING I,BUENOS AIRES,ANTWERP,1791055,512,481,...,MSC ATHENS,NA245R,38 days,912.0,"[{'LegSequence': 1, 'SingleLegOnly': True, 'La...",NaN,NaN,<NA>,<NA>,<NA>
24,MSC,2022-10-31,ARBUE,BEANR,NWC TO SAEC - STRING I,BUENOS AIRES,ANTWERP,1791055,512,481,...,MSC PALAK,NA246R,38 days,912.0,"[{'LegSequence': 1, 'SingleLegOnly': True, 'La...",NaN,NaN,<NA>,<NA>,<NA>